<section class="card">
    {{#each posts as |post|}}
    <div v-for="info in filteredInfo" @mouseover="handleEvent" @mouseover="handleEvent"@mouseleave="handleEvent" @mousemove="handleMousemove"<!--:class="{ fav: info.isFav }" @click="toggleFav(info)"
        -->>
        position - {{ x }} {{ y }}
        {{> post-details}}
        <p> {{ info.title }}</p>
        <p> {{ info.category }}</p>
    </div>
    {{/each}}
</section>

<section class="card">
    {{#if isUserLoggedIn}}
    {{> createpost-details}}
    {{/if}}
</section>

<script src="vue.js"></script>

<h3> If you want to logout</h3>
<p> Use the logout link if you want a different account</p>
<a href="/logout">Go to logout</a>