<h2>Logout</h2>

<form class="form login-form">
  <div class="form-group">
    <h3>You've been successfully logged out</h3>

    <p>for logging in</p>
    <a href="/login">Login</a>

    <p>for signing up a new account</p>
    <a href="/signup">Login</a>

  </div>
</form>

<script src="/js/logout.js"></script>